.cardGallery
{
	width: 80%;
	height: auto;
	margin: auto;
	text-align: center;
	display: block;	
}
.cardGalleryWrapper
{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}